html{
    scroll-behavior: smooth;
}

@media screen and (max-width:720px) {

    .card{
        margin-bottom: 10px;
    }
    
}

@media screen and (max-width:720px) {

    .col-md-3{
        margin-bottom: 10px;
    }
    
}

@media screen and (max-width:480px) {

    .footer h3{
        font-size: 20px;
    }
    .footer h6{
        font-size: 16px;
    }

    
}

@media screen and (max-width:360px) {

    
    .footer h3{
        font-size: 14px;
    }
    .footer h6{
        font-size: 12px;
    }

    
}